<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-xs-12">
            <h1 class="display-4 text-center">Welcome to Whiteboard!</h1>
                <div class="row mx-1  justify-content-center">
                    <div class="col-5">
                        <a [routerLink]="['/table/courses']" routerLinkActive="router-link-active" 
                           class="btn btn-outline-dark btn-block border-dark btn-lg">View Courses</a>
                    </div>
               
                </div>
        </div>
    </div>
</div>