<nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto ">
        <li class="nav-item mr-2">
            <button class="btn btn-outline-light wbdv-field wbdv-hamburger">
                <i class="fas fa-bars text-light "></i>
            </button>
        </li>
    </ul>
    <div class=" d-none d-sm-block">
        <span class=" navbar-brand wbdv-label wbdv-course-manager">Course Viewer</span>
    </div>
    <div class="collapse navbar-collapse ">
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" class="wbdv-header wbdv-title">Title</th>
                            <th class="d-none d-md-table-cell wbdv-header wbdv-owner" scope="col">Owned
                                By
                            </th>
                            <th class="d-none d-md-table-cell wbdv-header wbdv-last-modified" scope="col">Last Modified
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let course of courses" class="wbdv-row wbdv-course">
                            <th scope="row" class="align-middle wbdv-row wbdv-icon"><i class="fas fa-book"></i></th>
                            <td class="align-middle wbdv-row wbdv-title"><a
                                    [routerLink]="['/table/courses',course._id,'modules']"
                                    routerLinkActive="router-link-active">{{course.title}}</a></td>
                            <td class="align-middle d-none d-md-table-cell wbdv-row wbdv-owner">{{course.owned_by}}
                            </td>
                            <td class="align-middle d-none d-md-table-cell wbdv-row wbdv-modified-date">
                                {{course.last_modified}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>